/* Header */
h1 {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  line-height: 35px;
}

header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: white;
  width: 300px;
  margin-left: -10px;
  margin-top: -13px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 10;
  box-shadow: 3px 6px 7px 0px #0000000f;
}

.open {
  transform: translateX(0);
}

.menu li {
  min-height: 50px;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.menu li a {
  color: var(--clr-txt-black);
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.menu li a:hover {
  color: var(--clr-red);
}
.menu-mobile-i {
  cursor: pointer;
}
.hidden {
  overflow: hidden;
}

@media (min-width: 767px) {
  header {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 108px;
  }
  .menu {
    display: flex;
    height: inherit;
    position: inherit;
    align-items: center;
    flex-direction: row;
    transform: inherit;
    width: inherit;
    margin: inherit;
    box-shadow: inherit;
    background-color: inherit;
    margin: 0;
    align-self: center;
  }

  .menu li {
    min-height: inherit;
    transform: inherit;
    margin: 0 12px;
  }

  .menu-mobile-i {
    display: none;
  }
}
