@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&family=Poppins:wght@400;500;700&display=swap");

@import url("/assets/css/base.css");
@import url("/assets/css/header.css");
@import url("/assets/css/home.css");
@import url("/assets/css/services.css");

/* Animation */
.translate {
  transform: translateX(0) !important;
}

/* Our Works Section */

.our-works {
  margin-top: 146px;
  padding: 0 10px;
}
.work {
  margin-top: 48px;
  margin-bottom: 36px;
}
.work__type {
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}
.work__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.link-special {
  text-decoration: none;
  color: var(--clr-blue);
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.link-special span {
  margin-right: 12px;
}

/* Clients Section */
.clients {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.clients__subtitle {
  color: var(--clr-red);
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.clients h2 {
  font-size: 36px;
  line-height: 54px;
}
.clients p {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
}

.clients__gallery {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 80px);
  column-gap: 8px;
  row-gap: 8px;
}

.clients__gallery img {
}
.clients__gallery img:nth-child(1) {
  grid-column: 2/2;
  grid-row: 1/2;
  /* height: 145px;
  width: 145px; */
}
.clients__gallery img:nth-child(2) {
  grid-column: 2/2;
  grid-row: 3/4;
  /* height: 162px;
  width: 167px; */
}
.clients__gallery img:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  /* height: 178px;
  width: 178px; */
}

.clients__quote {
  margin-top: 100px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.clients__person-box {
  margin-top: 27px;
  display: flex;
}
.clients__person-box img {
  height: 82px;
  width: 82px;
  border-radius: 12px;
}
.details {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.details__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--clr-txt-black);
}
.details__nickname {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
}

/* Contact section */
.contact {
  margin-top: 100px;
  background: black;
  padding: 41px 36px;
}
.menu-footer li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 200%;
}

.logo-footer {
  margin-top: 64px;
  font-family: "Heebo", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  color: #f2f2f2;
}

.social {
  display: flex;
  margin-top: 8px;
}
.social-link {
  margin-right: 12px;
}
.form-footer {
  margin-top: 65px;
}
.copyright {
  font-size: 14px;
  line-height: 17px;
  margin-top: 133px;
  color: #a9a9a9;
}
